In [1]:
# 정수
a = 1

# 실수
b = 1.0

# 문자열
c = 'hello world'

# 1. Python은 모든 자료형이 객체입니다.

In [2]:
a = 1

In [3]:
print(type(a))

<class 'int'>

In [4]:
print(dir(c)[:5])

['__add__', '__class__', '__contains__', '__delattr__', '__dir__']

# 2. 자료형 탐색

### 1. 숫자형

In [5]:
a = 11

In [6]:
int(a / 2)

5

In [7]:
a // 2

5

In [8]:
a % 2

1

In [9]:
float(a)

11.0

### 2. 문자열

### 2-1 operation

In [10]:
a = 'hello world'
a

'hello world'

In [11]:
b = a + a

In [12]:
a * 10

'hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world'

### 2-2 Slicing

In [13]:
a[0]

'h'

In [14]:
a[0:5]

'hello'

In [15]:
a[2] = 'r'

TypeError: 'str' object does not support item assignment

In [16]:
a[:2] + 'r' + a[3:]

'herlo world'

### 2-3 Formating

In [17]:
number = 10
day = 3

In [18]:
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for 3 days.'

In [19]:
"I ate {1} apples. so I was sick for {0} days.".format(number, day)

'I ate 3 apples. so I was sick for 10 days.'

In [21]:
f'I ate {number} apples. so I was sick for {day} days'

'I ate 10 apples. so I was sick for 3 days'

### 문자열 관련 함수

In [22]:
','.join("abcd")

'a,b,c,d'

In [23]:
' '.join("abcd")

'a b c d'

In [24]:
b = "a,b,c,d"

In [25]:
b.split(',')

['a', 'b', 'c', 'd']

In [26]:
"a:b:c:d".replace(':','#')

'a#b#c#d'

- 문자열 형변환

In [27]:
str(1234)

'1234'

In [28]:
a = 'hello world'

In [29]:
a[0]

'h'

In [30]:
a[0:3]

'hel'

In [31]:
a[-2:]

'ld'

### 3. Bool

In [32]:
a = True
b = False

In [33]:
if a:
    print(a)

True

In [34]:
if b:
    print(b)

# 3. 문제

[문제1] 문자열 나누기

홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동씨의 주민등록번호를 연월일(YYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

[문제2] 문자열 인덱싱

주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.
pin = "881120-1068234"

[문제3] 문자열 바꾸기1

다음과 같은 문자열이 있다.

a:b:c:d
문자열의 replace 함수를 이용하여 위 문자열을 다음과 같이 고치시오.

a#b#c#d

[문제4] 문자열 바꾸기2

다음과 같은 문자열이 있다.

a:b:c:d
문자열의 split와 join 함수를 이용하여 위 문자열을 다음과 같이 고치시오.

a#b#c#d
(힌트. 문자열을 ":"으로 split하면 리스트 자료형이 리턴된다. 리스트 자료형은 문자열과 마찬가지로 join이 가능하다.)

# 4. 기타

In [35]:
# 주석

In [37]:
print(1); print(2)

1
2

In [38]:
print(1, 2)

1 2