# 1. tuple

In [1]:
a = (1, 2)

In [2]:
b = 3

In [3]:
b
a

(1, 2)

In [4]:
a[1] = 2

TypeError: 'tuple' object does not support item assignment

In [5]:
c = (3, 4)

In [6]:
c = (3,)

In [7]:
c

(3,)

In [8]:
a[0] = -1

TypeError: 'tuple' object does not support item assignment

# 2. set

In [9]:
a = [1,2,3,2]

In [10]:
a = {1, 2}

In [11]:
a

{1, 2}

In [12]:
c = {1, 3, 4, 1, 2}

In [13]:
c

{1, 2, 3, 4}

In [14]:
d = {5}

In [15]:
c.union(d)

{1, 2, 3, 4, 5}

# 3. LIST

### 슬라이싱

In [16]:
a = [1, 2, 3, 4, 5]

In [17]:
a

[1, 2, 3, 4, 5]

In [18]:
a[0]

1

In [19]:
a[:3]

[1, 2, 3]

In [20]:
a[1:]

[2, 3, 4, 5]

In [21]:
a[-3:]

[3, 4, 5]


### 연산

In [22]:
b = [1,2,3,4]

In [23]:
b

[1, 2, 3, 4]

In [24]:
c = ['a', 'b', 'c']

In [25]:
b + c

[1, 2, 3, 4, 'a', 'b', 'c']

In [26]:
d = [[1,2,3]]

In [27]:
d[0][2]

3

In [28]:
c + d

['a', 'b', 'c', [1, 2, 3]]

In [29]:
e = c * 3

In [30]:
e

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

### 함수

In [31]:
a = ['3', '4', '5', '6']

In [32]:
a.append(5)

In [33]:
a

['3', '4', '5', '6', 5]

In [34]:
a.index('5')

2

In [35]:
b = [1,2,3,4,2]

In [36]:
b.sort()

In [37]:
del b[2]

In [38]:
b

[1, 2, 3, 4]

In [39]:
b = 1

In [40]:
' '.join(['Life','is','too','short'])

'Life is too short'

In [41]:
a = [1,2,3]
b = [3,4]
c = a

In [42]:
c.append(b)

In [43]:
a

[1, 2, 3, [3, 4]]

In [44]:
a.extend(b)

In [45]:
a

[1, 2, 3, [3, 4], 3, 4]

In [46]:
a = [1,2,3,4,5]

In [47]:
a.remove(2)

In [48]:
del a[1]

In [49]:
a.remove(4)

# 4. dict

In [50]:
a = {'a': 1,
     'b': 2}

In [51]:
a['c'] = 3

In [52]:
a['b'] = 4

In [53]:
a.keys()

dict_keys(['a', 'b', 'c'])

In [54]:
a.values()

dict_values([1, 4, 3])

In [55]:
a.items()

dict_items([('a', 1), ('b', 4), ('c', 3)])

In [56]:
for key in a.keys():
    print(key)

a
b
c

In [57]:
for value in a.values():
    print(value)

1
4
3

In [58]:
for key, value in a.items():
    print(key, value)

a 1
b 4
c 3

In [59]:
a.update({'d': 5})

In [60]:
a['d'] = 5

### 참고 1. mutable, immutable
### 참고 2. copy, deepcopy

http://www.pythontutor.com/visualize.html#mode=display

In [61]:
a = [1,2,3]

In [62]:
a = [[1,2],[3,4]]

In [63]:
b = a.copy()

In [64]:
a[1].append(3)

In [65]:
a

[[1, 2], [3, 4, 3]]

# 5. 문제

[문제1] 리스트 조인

['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.

(힌트. 문자열의 join 함수를 이용해 보자.)

[문제2] 리스트 정렬

[1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.

(힌트. 리스트의 내장함수인 sort와 reverse를 활용해 보자.)

[문제3] 튜플 추가

(1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.

[문제4] 딕셔너리 만들기

다음 표를 딕셔너리로 만드시오.

항목	값
name	홍길동
birth	1128
age	30

[문제5] 딕셔너리 오류

다음과 같은 딕셔너리 a가 있다.

a = dict()

다음 중 오류가 발생하는 경우는 어떤 경우인가? 그리고 그 이유를 설명하시오.

- a['name'] = 'python'
- a[('a',)] = 'python'
- a[[1]] = 'python'
- a[250] = 'python'