# 1. 배열 재형성하기

In [1]:
import numpy as np

In [2]:
arr = np.arange(8)
arr

array([0, 1, 2, 3, 4, 5, 6, 7])

###### <span style="color:blue">Example 1. reshape</span>

In [3]:
arr.shape

(8,)

In [4]:
# (8,) --> (4,2)shape으로 변경
arr.reshape(4,2)

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

In [5]:
# (8,) --> (4,2) --> (2,4) shape으로 변경 
arr.reshape(4,2).reshape(2,4)

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [6]:
# (15, ) --> (5, -1) shape으로 변경
arr = np.arange(15)
np.arange(15).reshape(5, -1)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

- reshape에 넘기는 값 중 하나는 -1이 될 수도 있는데, 이 경우에는 원본 데이터를 참조해서 적절한 값을 추론하게 됩니다.

In [7]:
other_arr = np.ones((3, 5))
other_arr.shape

(3, 5)

In [8]:
arr.reshape(other_arr.shape)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

###### <span style="color:blue">Example 2. </span>

In [9]:
arr = np.arange(8).reshape(2,4)
arr

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [10]:
np.ravel?

In [11]:
arr = np.arange(300).reshape(10, 3, -1)

In [12]:
arr.ravel().shape

(300,)

In [13]:
# (2,4) --> ravel
np.ravel(arr)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299])

In [14]:
# (2,4) --> flatten 
arr.flatten()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299])

# 2. 배열 이어붙이고 나누기

- concatenate:  axis에 따라서 하나의 배열로 합친다.

In [15]:
arr1 = np.array([[1,2,3], [4,5,6]])
arr2 = np.array([[7,8,9], [10,11,12]])

In [16]:
arr1

array([[1, 2, 3],
       [4, 5, 6]])

In [17]:
arr2

array([[ 7,  8,  9],
       [10, 11, 12]])

###### <span style="color:blue">Example 3</span>

In [18]:
np.concatenate?

In [21]:
# axis=0 기준으로 배열 합치기
arr4 = np.concatenate([arr1, arr2], axis=0)

In [22]:
arr4.shape

(4, 3)

In [23]:
# axis=1 기준으로 배열 합치기
arr3 = np.concatenate([arr1, arr2], axis=1)
arr3

array([[ 1,  2,  3,  7,  8,  9],
       [ 4,  5,  6, 10, 11, 12]])

In [24]:
arr3.shape

(2, 6)

- vstack: vertical
- hstack: horizontal

In [25]:
np.vstack((arr1, arr2, arr1))

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [ 1,  2,  3],
       [ 4,  5,  6]])

In [26]:
np.hstack((arr1, arr2))

array([[ 1,  2,  3,  7,  8,  9],
       [ 4,  5,  6, 10, 11, 12]])

# 3. 브로드캐스팅

- 브로드캐스팅은 다른 모양의 배열 간 산술연산을 어떻게 수행해야 하는지 설명한다. 이는 매우 강력한 기능이다.

In [27]:
arr = np.arange(5)
arr

array([0, 1, 2, 3, 4])

In [28]:
arr * 4

array([ 0,  4,  8, 12, 16])

In [29]:
arr.shape

(5,)

###### <span style="color:blue">Example 4</span>

In [30]:
arr = np.arange(12).reshape(4,3)
arr

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [31]:
arr.shape

(4, 3)

In [34]:
arr

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [36]:
# axis=0 기준 평균 (arr_mean)
arr_mean = arr.mean(0).reshape(1, 3)
np.concatenate([arr_mean, arr_mean, arr_mean, arr_mean], axis=0)

array([[4.5, 5.5, 6.5],
       [4.5, 5.5, 6.5],
       [4.5, 5.5, 6.5],
       [4.5, 5.5, 6.5]])

In [37]:
# arr, arr_mean 차 
arr - arr_mean

array([[-4.5, -4.5, -4.5],
       [-1.5, -1.5, -1.5],
       [ 1.5,  1.5,  1.5],
       [ 4.5,  4.5,  4.5]])

- 브로드캐스팅 규칙을 따르기만 한다면 잠재적으로 낮은 차원의 값을 배열의 다른 차원으로 브로드캐스팅 하는 것도 가능하다.

### 브로드 캐스팅 규칙

- 만일 이어지는 각 차원(시작부터 끝까지)에 대해 축의 길이가 일치하거나 둘 중의 하나의 길이가 1이라면 두 배열은 브로드캐스팅 호환이다. 브로드캐스팅은 누락된, 혹은 길이가 1인 차원에 대해 수행된다.

In [110]:
import numpy as np

In [111]:
arr = np.arange(12).reshape(4,3)
arr

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [101]:
arr.shape

(4, 3)

In [112]:
arr.mean(axis=1)

array([ 1.,  4.,  7., 10.])

In [113]:
row_means = arr.mean(1)
row_means.shape

(4,)

In [114]:
row_means.reshape((4,1))

array([[ 1.],
       [ 4.],
       [ 7.],
       [10.]])

In [115]:
arr.shape

(4, 3)

In [116]:
row_means.shape

(4,)

In [107]:
print(arr)
arr.shape

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

(4, 3)

In [108]:
print(row_means)
row_means.shape

[ 1.  4.  7. 10.]

(4,)

In [119]:
arr, row_means

(array([[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8],
        [ 9, 10, 11]]), array([ 1.,  4.,  7., 10.]))

In [136]:
arr1 = row_means

In [125]:
arr.shape

(4, 3)

In [126]:
arr

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [124]:
arr1.shape

(4, 1)

In [128]:
arr

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [131]:
arr2 = arr.mean(axis=0)
arr2.

array([4.5, 5.5, 6.5])

In [142]:
arr.shape

(4, 3)

In [141]:
arr2.shape

(3,)

In [137]:
arr

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [138]:
arr - arr1

ValueError: operands could not be broadcast together with shapes (4,3) (4,)

In [140]:
arr - arr2

array([[-4.5, -4.5, -4.5],
       [-1.5, -1.5, -1.5],
       [ 1.5,  1.5,  1.5],
       [ 4.5,  4.5,  4.5]])

In [80]:
demeaned.mean(1)

array([0., 0., 0., 0.])

###### <span style="color:blue"> Examaple 5. 브로드 캐스팅 규칙 설명</span>

- 다른 축에 대해 브로드 캐스팅하기

In [38]:
arr = np.random.randn(4, 3)
arr

array([[ 0.24567487,  1.18237906,  0.4318613 ],
       [-0.55392896,  0.33630492,  0.82235693],
       [ 0.79294243, -0.57484743, -1.40634459],
       [ 0.42493166,  0.25078081,  0.43872487]])

In [39]:
# arr shape : (4,3)
# arr.mean(1) : (4,)

arr - arr.mean(1)

ValueError: operands could not be broadcast together with shapes (4,3) (4,)

In [40]:
arr.shape

(4, 3)

In [41]:
arr.mean(1).shape

(4,)

In [42]:
# arr.mean(1) 의 shape 변경 필요
arr - arr.mean(1).reshape(4,1)

array([[-0.37429687,  0.56240731, -0.18811044],
       [-0.75550659,  0.13472729,  0.6207793 ],
       [ 1.18902563, -0.17876423, -1.01026139],
       [ 0.05345255, -0.12069831,  0.06724576]])

- 브로드 캐스팅 이용해 배열에 값 대입하기

In [43]:
arr = np.zeros((4, 3))

In [44]:
arr

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [45]:
arr[:] = 5
arr

array([[5., 5., 5.],
       [5., 5., 5.],
       [5., 5., 5.],
       [5., 5., 5.]])

In [46]:
col = np.array([1.28, -0.42, 0.44, 1.6])
col

array([ 1.28, -0.42,  0.44,  1.6 ])

In [47]:
col[:, np.newaxis]

array([[ 1.28],
       [-0.42],
       [ 0.44],
       [ 1.6 ]])

In [48]:
arr[:] = col[:, np.newaxis]

In [49]:
arr

array([[ 1.28,  1.28,  1.28],
       [-0.42, -0.42, -0.42],
       [ 0.44,  0.44,  0.44],
       [ 1.6 ,  1.6 ,  1.6 ]])

In [50]:
arr[:] = col[:, np.newaxis]
arr

array([[ 1.28,  1.28,  1.28],
       [-0.42, -0.42, -0.42],
       [ 0.44,  0.44,  0.44],
       [ 1.6 ,  1.6 ,  1.6 ]])

In [51]:
arr[:2] = [[-1.37], [0.509]]
arr

array([[-1.37 , -1.37 , -1.37 ],
       [ 0.509,  0.509,  0.509],
       [ 0.44 ,  0.44 ,  0.44 ],
       [ 1.6  ,  1.6  ,  1.6  ]])

# Broad Casting

In [150]:
arr = np.arange(12).reshape(4, 3)
print(arr.shape)

(4, 3)

In [52]:
arr1 = arr.mean(axis=0)
print(arr1.shape)

(3,)

In [53]:
arr2 = arr.mean(axis=1)
print(arr2.shape)

(4,)

In [54]:
arr - arr1

array([[-1.66475, -1.66475, -1.66475],
       [ 0.21425,  0.21425,  0.21425],
       [ 0.14525,  0.14525,  0.14525],
       [ 1.30525,  1.30525,  1.30525]])

In [55]:
arr2.reshape(1, 4).shape

(1, 4)

In [56]:
arr - arr2.reshape(4, 1)

array([[ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [-2.22044605e-16, -2.22044605e-16, -2.22044605e-16]])

In [57]:
new_arr = np.arange(60).reshape(5,4,3)
new_arr.shape

(5, 4, 3)

In [58]:
new_arr1 = new_arr.mean(axis=0)
new_arr1.shape

(4, 3)

In [59]:
new_arr2 = new_arr.mean(axis=1)
new_arr2.shape

(5, 3)

In [60]:
new_arr3 = new_arr.mean(axis=2)
new_arr3.shape

(5, 4)

In [61]:
new_arr - new_arr1

array([[[-24., -24., -24.],
        [-24., -24., -24.],
        [-24., -24., -24.],
        [-24., -24., -24.]],

       [[-12., -12., -12.],
        [-12., -12., -12.],
        [-12., -12., -12.],
        [-12., -12., -12.]],

       [[  0.,   0.,   0.],
        [  0.,   0.,   0.],
        [  0.,   0.,   0.],
        [  0.,   0.,   0.]],

       [[ 12.,  12.,  12.],
        [ 12.,  12.,  12.],
        [ 12.,  12.,  12.],
        [ 12.,  12.,  12.]],

       [[ 24.,  24.,  24.],
        [ 24.,  24.,  24.],
        [ 24.,  24.,  24.],
        [ 24.,  24.,  24.]]])

In [62]:
new_arr.shape

(5, 4, 3)

In [204]:
new_arr2.reshape(5,1,3).shape

(5, 1, 3)

In [63]:
new_arr - new_arr2.reshape(5,1,3)

array([[[-4.5, -4.5, -4.5],
        [-1.5, -1.5, -1.5],
        [ 1.5,  1.5,  1.5],
        [ 4.5,  4.5,  4.5]],

       [[-4.5, -4.5, -4.5],
        [-1.5, -1.5, -1.5],
        [ 1.5,  1.5,  1.5],
        [ 4.5,  4.5,  4.5]],

       [[-4.5, -4.5, -4.5],
        [-1.5, -1.5, -1.5],
        [ 1.5,  1.5,  1.5],
        [ 4.5,  4.5,  4.5]],

       [[-4.5, -4.5, -4.5],
        [-1.5, -1.5, -1.5],
        [ 1.5,  1.5,  1.5],
        [ 4.5,  4.5,  4.5]],

       [[-4.5, -4.5, -4.5],
        [-1.5, -1.5, -1.5],
        [ 1.5,  1.5,  1.5],
        [ 4.5,  4.5,  4.5]]])

In [205]:
new_arrr = np.arange(120).reshape(4,3,5,2)
new_arrr.shape

(4, 3, 5, 2)

In [206]:
new_arrr2 = np.arange(20).reshape(4, 5)

In [211]:
new_arrr2.reshape(4,1,5,1)

array([[[[ 0],
         [ 1],
         [ 2],
         [ 3],
         [ 4]]],


       [[[ 5],
         [ 6],
         [ 7],
         [ 8],
         [ 9]]],


       [[[10],
         [11],
         [12],
         [13],
         [14]]],


       [[[15],
         [16],
         [17],
         [18],
         [19]]]])

In [209]:
new_arrr - new_arrr2.reshape(4, 1, 5, 1)

array([[[[  0,   1],
         [  1,   2],
         [  2,   3],
         [  3,   4],
         [  4,   5]],

        [[ 10,  11],
         [ 11,  12],
         [ 12,  13],
         [ 13,  14],
         [ 14,  15]],

        [[ 20,  21],
         [ 21,  22],
         [ 22,  23],
         [ 23,  24],
         [ 24,  25]]],


       [[[ 25,  26],
         [ 26,  27],
         [ 27,  28],
         [ 28,  29],
         [ 29,  30]],

        [[ 35,  36],
         [ 36,  37],
         [ 37,  38],
         [ 38,  39],
         [ 39,  40]],

        [[ 45,  46],
         [ 46,  47],
         [ 47,  48],
         [ 48,  49],
         [ 49,  50]]],


       [[[ 50,  51],
         [ 51,  52],
         [ 52,  53],
         [ 53,  54],
         [ 54,  55]],

        [[ 60,  61],
         [ 61,  62],
         [ 62,  63],
         [ 63,  64],
         [ 64,  65]],

        [[ 70,  71],
         [ 71,  72],
         [ 72,  73],
         [ 73,  74],
         [ 74,  75]]],


       [[[ 75,  76],
         [ 76,  77],
         [ 77,  78],
         [ 78,  79],
         [ 79,  80]],

        [[ 85,  86],
         [ 86,  87],
         [ 87,  88],
         [ 88,  89],
         [ 89,  90]],

        [[ 95,  96],
         [ 96,  97],
         [ 97,  98],
         [ 98,  99],
         [ 99, 100]]]])

### Broadcasting은 3가지 동작으로 진행됩니다.

#### 1. padding - 고차원 방향으로만 진행이 된다.
#### 2. copy - 차원 1인 것을 해당 차원에 맞게 확장해서 연산한다.
#### 3. operation - 연산한다.