# 기본 자료구조

- tuple: (1, 2, 3) - 변할 수 없음
- list: [1, 2, 3] - 변할 수 있음(중요)
- dict: {key: value} - key와 value가 존재(중요)
- set: {1, 2, 3} - 집합

# 1. Tuple

In [1]:
a = (1, 2, 3)

In [2]:
print(type(a))

<class 'tuple'>

In [3]:
b = (5, 6)

In [4]:
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [7]:
# tuple은 인자를 바꿀 수 없다.
a[2] = 3

TypeError: 'tuple' object does not support item assignment

In [9]:
c = a + b
c

(1, 2, 3, 5, 6)

In [10]:
len(c)

5

In [11]:
c[2]

3

In [14]:
d = (1,2,3,1,2,3)

In [15]:
d.count(2)

2

In [16]:
help(d.count)

Help on built-in function count:

count(...) method of builtins.tuple instance
    T.count(value) -> integer -- return number of occurrences of value

In [18]:
e = tuple((1,2,3,1,2,3))

In [20]:
e

(1, 2, 3, 1, 2, 3)

# 2. List

In [76]:
lst = ['hello', 2, 'str', 'world', 1.0]

In [77]:
print(len(lst))
lst

5

['hello', 2, 'str', 'world', 1.0]

In [79]:
print(dir(lst))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [80]:
# index
lst[::-1]

[1.0, 'world', 'str', 2, 'hello']

In [54]:
# element를 변경할 수 있다.
lst[0] = 'hi'
lst

['hi', 2, 'str', 'world', 1.0]

In [55]:
# list에 element를 추가한다.
lst.append(3)

In [58]:
# sorting
lst1 = [2,2,1,3,5]
lst1.sort()
lst1

[1, 2, 2, 3, 5]

In [61]:
# sorting reversely
lst1.sort(reverse=True)
lst1

[5, 3, 2, 2, 1]

In [63]:
# remove all elements
lst1.clear()

In [69]:
# extend list
lst.extend([3])

In [72]:
help(lst.append)

Help on built-in function append:

append(...) method of builtins.list instance
    L.append(object) -> None -- append object to end

In [71]:
help(lst.extend)

Help on built-in function extend:

extend(...) method of builtins.list instance
    L.extend(iterable) -> None -- extend list by appending elements from the iterable

In [81]:
lst

['hello', 2, 'str', 'world', 1.0]

In [82]:
a = []

for element in lst:
    # load image
    # crop image
    a.append(str(element))

In [85]:
lst.append(4)
lst.extend(["hello", "world"])

In [87]:
lst

['hello', 2, 'str', 'world', 1.0, 4, 'hello', 'world']

# 3. set

In [89]:
lst = [1, 2, 3, 4, 5, 6, 4, 3, 2, 1, 100]

In [88]:
a = {1, 2, 3, 1, 3, 2, 3}
a

{1, 2, 3}

In [92]:
print(dir(a))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [95]:
a = {1,2,3}
a

{1, 2, 3}

In [97]:
b ={5, 3}
b

{3, 5}

In [98]:
help(a.difference)

Help on built-in function difference:

difference(...) method of builtins.set instance
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [99]:
a.difference(b)

{1, 2}

In [100]:
a.union(b)

{1, 2, 3, 5}

In [101]:
a.intersection(b)

{3}

In [102]:
set(lst)

{1, 2, 3, 4, 5, 6, 100}

# 4. Dictionary

In [103]:
dict1 = {'a': 123}

In [104]:
dict1

{'a': 123}

In [105]:
print(dir(dict1))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [106]:
dict1['b'] = 300

In [112]:
dict1['a'] = 24

In [108]:
dict1.update({'c': 4})

In [114]:
# keys를 가져올 수 있음
dict1.keys()

dict_keys(['a', 'b', 'c'])

In [115]:
# values를 가져올 수 있음
dict1.values()

dict_values([24, 300, 4])

In [116]:
# key, value를 쌍으로 가져올 수 있음
dict1.items()

dict_items([('a', 24), ('b', 300), ('c', 4)])

In [117]:
for key, value in dict1.items():
    print(key, value)

a 24
b 300
c 4

In [119]:
for key in dict1.keys():
    print(key)

a
b
c

In [120]:
for value in dict1.values():
    print(value)

24
300
4

In [124]:
image_dict = {'dog_1.png': [],
              'dog_2.png': [],
              'cat_3.png': []}

In [125]:
for key in image_dict.keys():
    if 'dog' in key:
        # 처리를 한다.

{'dog_1.png': [], 'dog_2.png': [], 'cat_3.png': []}

In [132]:
# get은 None을 반환
dict1['d']

KeyError: 'd'

In [134]:
print(dict1.get('d'))

None

# 정리

- tuple: element가 변할 수 없다.
- list: element가 변할 수 있다.
- set: 집합 연산을 한다.
- dict: key, value를 가진다.

[문제1] 리스트 조인

['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.

(힌트. 문자열의 join 함수를 이용해 보자.)

In [158]:
lst = ['Life', 'is', 'too', 'short']
' '.join(lst)

'Life is too short'

[문제2] 리스트 정렬

[1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.

(힌트. 리스트의 내장함수인 sort와 reverse를 활용해 보자.)

In [161]:
lst = [1,3,4,5,2]
lst.sort(reverse=True)

In [162]:
lst

[5, 4, 3, 2, 1]

[문제3] 튜플 추가

(1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.

In [168]:
tuple1 = ('a', 'b')
tuple2 = ('c', 'd')
tuple1 + tuple2

('a', 'b', 'c', 'd')

In [169]:
print(type(tuple2))

<class 'tuple'>

In [173]:
tuple1 = (1, 2, 3)
tuple2 = (4,)
tuple1 + tuple2

(1, 2, 3, 4)

[문제4] 딕셔너리 만들기

다음 표를 딕셔너리로 만드시오.

항목	값<br/>
name	홍길동<br/>
birth	1128<br/>
age	30

In [176]:
dict1 = {}
dict1['name'] = "홍길동"
dict1['birth'] = "11/28"
dict1['age'] = 30

In [177]:
dict1

{'name': '홍길동', 'birth': '11/28', 'age': 30}

## 참고: Id, is, ==

In [185]:
a = 257
b = 257

# 값을 비교한다.
print(a == b)

# 주소를 비교합니다.
print(a is b)

True
False

In [181]:
# 주소: id
id(a), id(b)

(4521422032, 4521421936)

In [186]:
# 0 에서 256까지 된다고 해서 
a = 1
b = 1

# 값을 비교한다.
print(a == b)

# 주소를 비교합니다.
print(a is b)

True
True

In [183]:
id(a), id(b)

(4485948768, 4485948768)

## 참고: copy, deepcopy

In [215]:
import copy

In [197]:
a = 2000
b = a
id(a), id(b)

(4521420016, 4521420016)

In [202]:
lst1 = [1,2,3]

# 주소로 복사
lst2 = lst1
lst2[0] = 4

In [203]:
lst1, lst2

([4, 2, 3], [4, 2, 3])

In [204]:
lst3 = [1,2,3]

# 값으로 복사
lst4 = lst3.copy()
lst4[0] = 4

In [205]:
lst3, lst4

([1, 2, 3], [4, 2, 3])

In [206]:
lst5 = [1,2,3, [1,2,3]]
lst6 = lst5.copy()

In [218]:
lst7 = copy.deepcopy(lst5)

시각화

http://www.pythontutor.com/visualize.html#mode=display

In [220]:
# 값
a = 2
b = a
b = 1
print(a, b)
print(id(a), id(b))

2 1
4485948800 4485948768

In [223]:
# 문자열
a = 'str'
b = a
b = 'hello'
print(a, b)
print(id(a), id(b))

str hello
4486780832 4521332840