# 반복문

- for
    - for ele in lst:
    - for i in range(5):
    - for i, ele in enumerate(lst):
- break, continue

### 리스트 컴프리헨션

In [17]:
lst1 = []
for i in range(10):
    lst1.append(i)

In [18]:
lst2 = [i for i in range(10)]

In [24]:
lst3 = [i*i for i in range(10)]

In [27]:
lst4 = [i*i for i in range(10) if i % 2 == 0 and i > 5]

# 1. 함수

if, for, ":", indentation

In [29]:
def print_name():
    print("정윤")

In [32]:
print_name()

정윤

## argument

In [33]:
def print_name(name):
    print(name)

In [34]:
print_name("정윤")

정윤

In [37]:
print_name()

TypeError: print_name() missing 1 required positional argument: 'name'

In [38]:
def print_name(name='정윤'):
    print(name)

In [40]:
print_name("진우")

진우

In [43]:
def print_name_and_number(name, number):
    print(name, number)

In [44]:
print_name_and_number()

TypeError: print_name_and_number() missing 2 required positional arguments: 'name' and 'number'

In [47]:
print_name_and_number(number='010-8232-8387', name='정윤')

정윤 010-8232-8387

## return

In [48]:
def return_name(name):
    return name

In [49]:
name = return_name(name='정윤')
print(name)

정윤

In [50]:
def return_name_and_number(name, number):
    return name, number

In [53]:
name, number = return_name_and_number('정윤', '010-8232-8387')

In [56]:
print(name)
print(number)

정윤
010-8232-8387

In [57]:
name, _ = return_name_and_number('정윤', '010-8232-8387')
print(name)

정윤

[문제1] 홀수 짝수 판별

주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd)를 작성하시오.

In [64]:
def is_odd(x):
    assert x > 0 

    if x % 2 == 0:
        return False
    else:
        return True

# 오늘의 목표

- python 기본 명령어를 알고 어려워 보이는 게 나왔을 때 겁먹지 않는다.

## args, kwargs

In [73]:
# 몇 개가 들어올지 모르겠다.
def average(*args):
    print(args)
    print(sum(args))
    print(len(args))
    return sum(args) / len(args)

In [77]:
average_value = average(1,2,3,4,5,6,10,2)
average_value

(1, 2, 3, 4, 5, 6, 10, 2)
33
8

4.125

In [80]:
def print_kwargs(**kwargs):
    print(kwargs)

In [82]:
print_kwargs(name='정윤', phonenumber='010-8232-8387', address="Seoul")

{'name': '정윤', 'phonenumber': '010-8232-8387', 'address': 'Seoul'}

In [86]:
def print_all(*args, **kwargs):
    print(args)
    print(kwargs)

In [90]:
print_all(1, 23, 2, name='정윤', phonenumber='010-8232-8387', address="Seoul")

(1, 23, 2)
{'name': '정윤', 'phonenumber': '010-8232-8387', 'address': 'Seoul'}



[문제2] 평균값 계산

입력으로 들어오는 모든 수의 평균값을 계산해 주는 함수를 작성해 보자. (단, 입력으로 들어오는 수의 갯수는 정해져 있지 않다.)